.submitBtn{
    width: 20%;
    background-color: #f44336 !important;
    color: #FFF !important;
}

.submitGrid{
    display: flex;
    justify-content: center;
}
.formSubmit{
    margin-top: 30px;
    margin: auto;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px;
}